.d-sm-flex{
   margin-top: 15px;
}
.apex-charts{
   margin-top:10px;
   margin-left: 10px;
   margin-right: 10px;
}
.seriesNames{
    margin-top: 30px;
    margin-bottom: 30px;
 .boxStylingA, .boxStylingB, .boxStylingC{
   margin-left: 10px;
   margin-bottom: 1px;
    display: inline-block;
    background-color: #decc73;
    height: 10px;
    width: 10px;
 }
 .boxStylingB{
        background-color: #73ded0;

 }
  .boxStylingC{
        background-color: #b472cc;

 }
 .boxStyling{
    padding-left: 10px;
 }
}