

.DashboardComponent{
  margin-left: 10px;
    margin-right: 30px;
    .dashboardHeading{
      margin-bottom:10px
    }
    .emailTile{
       margin-top: 20px;
    }
    .monthlyTile{
      margin-top: 24px;
    }
    .dashboard2section{
      padding-bottom: 20px;
    }
    .dashboard3section{
       margin-bottom: 20px;
    }
    .dashboard4section{
      margin-left: 2px;
      margin-bottom: 40px;
    }
}
